{% extends "base.html" %}

{% block content %}
<h2>Gestión de Productos</h2>

<!-- Botón en forma de cruz para abrir la ventana modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
    &#x271A; <!-- Cruz -->
</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in producto_s %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
            <td>{{ producto[4] }}</td>
            <td>
                <a href="{{ url_for('eliminar_producto', id=producto[0]) }}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Ventana Modal para agregar un producto -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Agregar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('agregar_producto') }}">
                    <label for="nombre">Nombre del Producto:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo" required>

                    <label for="marca">Marca:</label>
                    <input type="text" id="marca" name="marca" required>

                    <label for="Stock">Cantidad de Stock:</label>
                    <input type="number" id="Stock" name="Stock" required>

                    <button type="submit" class="btn btn-success">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
